<header>
    <a href="/">
        <img src="/static/img/logo-cabecario.svg" alt="Logo TripBrasil" class="logo">
    </a>

    <nav>
        <a href="/admin/dashboard">Dashboard</a>
        <a href="/admin/anuncios">Anúncios</a>
        <a href="/admin/locais">Locais</a>
        <a href="/admin/sugestao">Sugestões</a>
        <a href="/admin/avaliacoes">Avaliações</a>
        <a href="/admin/usuarios">Usuários</a>
        <a href="/admin/cadastrar-local" class="btn-nav">
            Cadastrar Local
        </a>
        <a href="/" class="btn-nav" style="background: #dc3545;">
            Sair
        </a>
    </nav>
</header>
